.signUpParent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn.pixabay.com/photo/2017/07/22/16/44/sea-2529303_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    background-position: center;
    
}

.signUpDiv{
    min-width:70% ;
    max-width: 500px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(204, 157, 255, 0.5);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}



.signUpForm{
    width: 80%;
    margin: auto;
    max-width: 400px;
    
}